files:
  /etc/nginx/conf.d/00_my_config.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      fastcgi_buffers 16 16k;
      fastcgi_buffer_size 32k;

  /etc/nginx/conf.d/000_tsv_logging.conf:
      mode: "000644"
      owner: root
      group: root
      content: |
          log_format tsv '$http_x_forwarded_for\t$time_iso8601\t$request_method\t$scheme\t$request_uri\t$http_user_agent\t$status\t$body_bytes_sent\t$http_referer\t$request_time\t$arg_token\t$http_x_location_details\t$http_x_carrier_details';
          access_log /var/log/nginx/access.log tsv;

container_commands:
  01_nginx_backup:
    command: aws s3 cp /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf s3://ipinfo-docker/nginx.config
    ignoreErrors: false