packages:
  yum:
    htop: []

container_commands:
  01_nginx_worker_processes:
    command: sed -i 's/^\s*\(worker_processes\s*\)\d*.*$/\14;/' /tmp/deployment/config/#etc#nginx#nginx.conf
    ignoreErrors: true
  03_nginx_worker_connections:
    command: sed -i 's/^\(\s*worker_connections\s*\)\d*.*$/\110240;/' /tmp/deployment/config/#etc#nginx#nginx.conf
    ignoreErrors: true
  04_nginx_keepalive_timeout:
    command: sed -i 's/^\(\s*keepalive_timeout\s*\)\d*.*$/\110;/' /tmp/deployment/config/#etc#nginx#nginx.conf
    ignoreErrors: true
  06_nginx_config_copy:
    command: aws s3 cp /etc/nginx/nginx.conf s3://ipinfo-docker/nginx.config
    ignoreErrors: true
  07_nginx_config_copy_2:
    command: aws s3 cp /etc/nginx/conf.d/*.conf s3://ipinfo-docker
    ignoreErrors: true
  08_nginx_config_copy_3:
    command: aws s3 cp /etc/nginx/sites-enabled/* s3://ipinfo-docker
    ignoreErrors: true

